.example_path{
	position:relative;
	overflow:hidden;
	width:530px;
	height:30px;
	border:3px solid #000;
}
.example_block{
	position:absolute;
	background-color:blue;
	width:30px;
	height:20px;
	padding-top:10px;
	color:#fff;
}

#container {
	display:inline-block;
	width: 1000px;
	height: 750px;
	position: relative;
	float:top;
	background: yellow;
	border:3px solid #000;
}

#video{
	position: relative;
	float:top;
	top:10px;
}

#header{
	display:inline-block;
	position:relative;
}

#Forward{
	display:inline-block;
	position:absolute;
	float: right;
	left:1195px;
}

#GameInfo{
	display:inline-block;
	position:absolute;
	float: right;
	left:595px;
}

#chatroom{
	position: absolute;
	display:inline-block;
}

#chat_window{
	float:top;
	top:0px;
	position:absolute;
	width: 300px;
	height: 700px;
}

#chat_input{
	position:absolute;
	width:300px;
	height:55px;
	top:700px;
}

.animate { /*element with id animate*/
	width: 75px;
	height: 150px;
	position: absolute;
	background: red;
}

.anchor{ /*all elements with class anchor*/
	float:left;
	position:relative;
	/*left:350px;*/
}
